// .btn-bar.three-btns

.btn-bar {
  background: white;
  display: inline-block;
  width: 400px;
  max-width: 400px;

  &.three-btns {
    .btn {
      width: 33.333%;
    }
  }

  .btn {
    padding: 10px;
    margin: 0;
    float: left;
    font-size: 16px;
    background: none;
    border: none;
  }
}
