.lists {

  .list {
    display: block;
    max-width: 400px;
    background: cadetblue;
    list-style: none;
    padding: 0;
    margin: 0 auto $listVerticalMargin;
    text-align: center;

    .list-header {
      padding: $listItemPadding;
      margin-bottom: 4px;
      color: white;
      background: darkmagenta;
      border-radius: 4px;
    }

    .item {
      padding: 10px;
      background: whitesmoke;
      border-radius: 4px;
      margin-bottom: 4px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    }
  }
}
