// -------------------------
// Lists
// -------------------------
$listVerticalMargin: 30px;
$listItemPadding: 10px;

// -------------------------
// Header / Footer
// -------------------------
$headerFooterPadding: 30px;
